# Copyright (C) 2008 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


#########################################################################
# Modification history
#
# Modify history      Author      Date         Reason
# DTS2012040904141    y00213813   2012/04/09   add btla stack to ics
# DTS2012041605058    y00213813   2012/04/17   add FM snr parameter
# DTS2012042101363    w00171146   2012/04/21   BTLA low power realization
#########################################################################



on early-init
#DTS2012083100452 y00173682 20120831 modify the mount point to follow the J changes begin 
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /storage 0775 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /mnt/sdcard2
    
    symlink /mnt/sdcard2 /sdcard2
    symlink /mnt/sdcard2 /extsd
    symlink /mnt/sdcard2 /mnt/sdcard-ext
    symlink /mnt/sdcard2 /mnt/extsd
    
    mkdir /mnt/usb/usb1 0000 system system
    mkdir /mnt/usb/usb2 0000 system system

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    mkdir /data/peers 0700 root system
    mount tmpfs tmpfs /data/peers mode=0700,gid=1000
    chown radio radio /data/peers

    chmod 777 /dev/mtd/mtd1

    chmod 777 /dev/HisiGE
    chmod 777 /dev/graphics/fb0
    chmod 777 /dev/galcore
    chmod 777 /dev/graphics/galcore

	chown system system /sys/class/leds/lcd_backlight0/brightness
	chmod 664 /sys/class/leds/lcd_backlight0/brightness

        chown system system /sys/class/leds/red/delay_on
        chown system system /sys/class/leds/red/delay_off
        chown system system /sys/class/leds/green/delay_on
        chown system system /sys/class/leds/green/delay_off
        chown system system /sys/class/leds/blue/delay_on
        chown system system /sys/class/leds/blue/delay_off

    mkdir /data/sensor/
    chmod 0770 /data/sensor/

    mkdir /data/k3_camera/
    chmod 777 /data/k3_camera/

    chmod 777 /dev/hiif_misc
    chmod 777 /dev/android_usb_enable

    chmod 777 /dev/k3_batterymisc
    chmod 777 /dev/spi3_hisipmu

    chmod 777 /dev/spi3_misc
    chmod 777 /system/bin/audioRegctl
    chmod 777 /proc/audioChannel/status

    chmod 777 /proc/HiAcoustic/control
    chmod 777 /proc/HiAcoustic/threshold

    mkdir /data/misc/wifi 0770 wifi wifi
    chown wifi wifi /data/misc/wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chown wifi wifi /data/misc/wifi/p2p_supplicant.conf
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    setprop wifi.interface wlan0

    setprop ro.audio.analogMIC 1
    setprop ro.audio.dobuleMIC 1
    setprop ro.opengles.version 131072

    chmod 777 /dev/video0
    chmod 777 /dev/hx170dec
    chmod 777 /dev/hx280enc
    chmod 777 /dev/memalloc
    chmod 777 /dev/gralloc_pmem
    chmod 777 /dev/camera_pmem
    chmod 777 /dev/overlay_pmem

    chmod 666 /dev/akm8975_aot
    chmod 666 /dev/akm8975_dev
    chmod 664 /dev/input/event0
    chmod 664 /dev/input/event1
    chmod 664 /dev/input/event2
    chmod 664 /dev/input/event3
    chmod 664 /dev/input/event4
    chmod 664 /dev/input/event5
    chmod 664 /dev/input/event6
    chmod 664 /dev/input/event7
    chmod 664 /dev/input/event8
    chmod 664 /dev/input/event9
    chmod 664 /dev/input/event10

    chmod 777 /dev/video19

    chmod 777 /dev/audience_es305
    chmod 777 /dev/tpa2028_l
    chmod 777 /dev/tpa2028_r
    chmod 777 /dev/tpa6132
    chmod 777 /dev/spk_5vboost
    chmod 777 /dev/boardid_dev
    chmod 777 /dev/ttyAMA2

    chmod 777 /system/usr/keychars/h2w_headset.kcm.bin
    chmod 777 /system/usr/keychars/k3_keypad.kcm.bin
    chmod 777 /system/usr/keychars/qwerty2.kcm.bin
    chmod 777 /system/usr/keychars/qwerty.kcm.bin

    chmod 777 /dev/rtc0

    chmod 777 /dev/ttyAMA3
    chmod 0770 /data/gps/log
    chmod 777 /dev/ttyAMA1

    mkdir /data/dumplog
    chmod 0770 /data/dumplog

    mkdir /cache/recovery 0770 system cache

    chmod 777 /dev/cpu_maxprofile
    chmod 777 /dev/cpu_minprofile
    chmod 777 /dev/cpu_profile_block
    chmod 777 /dev/cpu_profile_safe
    chmod 777 /dev/gpu_maxprofile
    chmod 777 /dev/gpu_minprofile
    chmod 777 /dev/gpu_profile_block
    chmod 777 /dev/gpu_profile_safe
    chmod 777 /dev/ddr_maxprofile
    chmod 777 /dev/ddr_minprofile
    chmod 777 /dev/ddr_profile_block
    chmod 777 /dev/ddr_profile_safe
    chmod 777 /dev/cpu_number_lock
    chmod 777 /dev/cpu_number_safe
    chmod 777 /dev/cpu_number_max
    chmod 777 /dev/cpu_number_min
    chmod 777 /dev/ipps_policy

    #chmod 0660 /dev/ttyAMA4
    chmod 777 /dev/ttyAMA4
    chown bluetooth bluetooth /dev/ttyAMA4

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0774 /sys/class/rfkill/rfkill0/state

    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 777 /proc/bluetooth/sleep/proto

    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0018/enable
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0018/pollrate_ms
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-001c/enable
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-001c/pollrate_ms
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0053/enable
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0053/pollrate_ms
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0068/enable_device
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0068/pollrate_ms
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0068/enable_selftest
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0068/range

    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0068/enable_selftest

    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-000f/enable
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-000f/pollrate_ms

    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0039/ps_enable
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0039/enable_ps_sensor
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0039/enable_als_sensor
    chown system system /sys/devices/platform/dw-i2c.0/i2c-0/0-0039/als_poll_delay

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_policy
    chown system system /sys/devices/platform/k3_fb.196609/frc_state

    chown system system /sys/devices/platform/k3_fb.196609/sbl_lsensor_state

    chown system system /sys/po188/delay_rate
    chown system system /sys/po188/light

    chown system system /sys/devices/platform/huawei_sensor/acc_input
    chown system system /sys/devices/platform/huawei_sensor/akm_input
    chown system system /sys/devices/platform/huawei_sensor/als_input
    chown system system /sys/devices/platform/huawei_sensor/gyro_input
    chown system system /sys/devices/platform/huawei_sensor/ps_input
    chown system system /sys/devices/platform/huawei_sensor/lightsensor


    mkdir /data/share 0775 sdcard_rw sdcard_rw
    chown sdcard_rw sdcard_rw /data/share

    chown system system /sys/devices/platform/k3_hdmi.0/edid
    chown system system /sys/devices/platform/k3_hdmi.0/code
    chown system system /sys/devices/platform/k3_hdmi.0/s3d
    chown system system /sys/devices/platform/k3_hdmi.0/dst
    chown system system /sys/devices/platform/k3_hdmi.0/hpd
    chown system system /sys/devices/platform/k3_hdmi.0/hdcp
    chown system system /sys/devices/platform/k3_hdmi.0/deepcolor
    chown system system /sys/devices/platform/k3_hdmi.0/reset
    chown system system /sys/devices/platform/k3_hdmi.0/reg
    chown system system /sys/devices/platform/k3_hdmi.0/connected
    chown system system /sys/devices/platform/k3_hdmi.0/s3dsupport
    chown system system /sys/devices/platform/k3_hdmi.0/alledid
    chown system system /sys/devices/platform/k3_hdmi.0/audiosupport
    chown media system /sys/devices/platform/k3_hdmi.0/bufisfree
    chown shell shell /sys/mhl_sii9244/log_en
    chown system shell /sys/mhl_sii9244/close_power    
    chown radio system /sys/phone_status/status

    chown system shell /sys/bus/i2c/devices/0-002c/enable_uevent

on property:persist.sys.coordinate=false
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-0018/coordinate_acc   0
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-000f/coordinate_acc   0
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-0053/coordinate_acc   0
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-001c/coordinate_acc   0
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-0068/coordinate_gyro  0

on property:persist.sys.coordinate=true
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-0018/coordinate_acc   1
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-000f/coordinate_acc   1
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-0053/coordinate_acc   1
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-001c/coordinate_acc   1
   write /sys/devices/platform/dw-i2c.0/i2c-0/0-0068/coordinate_gyro  1

on property:sys.battery_charge=true
    write /sys/bus/platform/drivers/k3_psy_monitor/CEN_N   1

on property:sys.battery_charge=false
    write /sys/bus/platform/drivers/k3_psy_monitor/CEN_N   0

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    user root
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \
	-ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1
    class main
    user root
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service pppd_gprs1 /system/bin/pppd call gprs1
   user root
   group radio cache inet misc
   disabled
   oneshot

service pppd_gprs2 /system/bin/pppd call gprs2
   user root
   group radio cache inet misc
   disabled
   oneshot

service pppd_gprs3 /system/bin/pppd call gprs3
   user root
   group radio cache inet misc
   disabled
   oneshot

service bcm_hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm --scopcm=0,1,0,0,0,0,0,0,0,0 --no2bytes --tosleep 50000 --use_baudrate_for_download --baudrate 3000000 --patchram /etc/bluetooth/BCM4330.hcd /dev/ttyAMA4
    user root
    group bluetooth net_bt_admin system
    disabled
    oneshot

service hci_dev_up /system/bin/hci_dev_state --dev_up
    user root
    group bluetooth system
    disabled
    oneshot

service hci_dev_down /system/bin/hci_dev_state --dev_down
    user root
    group bluetooth system
    disabled
    oneshot

service chip_power_on /system/bin/sh /system/etc/bluetooth/init.bcm.chip_on.sh
    user root
    group system
    disabled
    oneshot

service chip_power_off /system/bin/sh /system/etc/bluetooth/init.bcm.chip_off.sh
    user root
    group system
    disabled
    oneshot


service bt_pm_on /system/bin/sh /system/etc/bluetooth/init.bcm.btpm_on.sh
    user root
    group system
    disabled
    oneshot

service bt_pm_off /system/bin/sh /system/etc/bluetooth/init.bcm.btpm_off.sh
    user root
    group system
    disabled
    oneshot

service gpsd  /system/bin/glgps -c /system/etc/gpsconfig.xml
    class main
    socket gps seqpacket 777 root root
    user root
    group root

service akm8975 /system/bin/akm8975 -m 7
    class main
    user system
    disabled
    oneshot


on property:persist.sys.color.enhance=true
        write /sys/bus/platform/drivers/mipi_panasonic_VVX10F002A00/set_cm_function 1
        write /sys/bus/platform/devices/k3_dev_lcd/set_cm_function 1

on property:persist.sys.color.enhance=false
        write /sys/bus/platform/drivers/mipi_panasonic_VVX10F002A00/set_cm_function 0
        write /sys/bus/platform/devices/k3_dev_lcd/set_cm_function 0
	
on property:persist.sys.cabc=true
        write /sys/bus/platform/drivers/mipi_panasonic_VVX10F002A00/set_cabc_function 1
        write /sys/bus/platform/devices/k3_dev_lcd/set_cabc_function 1

on property:persist.sys.cabc=false
        write /sys/bus/platform/drivers/mipi_panasonic_VVX10F002A00/set_cabc_function 0    
        write /sys/bus/platform/devices/k3_dev_lcd/set_cabc_function 0

service dhcpcd_brcm-pan /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service iprenew_brcm-pan /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

service btld /system/bin/logwrapper /system/bin/btld -lpm 1 -hb 3000000 -hp /dev/ttyAMA4 -snr 8
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service btld-hfp /system/bin/logwrapper /system/bin/btld -lpm 1 -hb 3000000 -hp /dev/ttyAMA4 -snr 8 -hfp 1
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

on property:service.brcm.bt.soft_onoff=1
    start btld

on property:service.brcm.bt.soft_onoff=0
    stop btld

service bluetoothd /system/bin/logwrapper /system/bin/bluetoothd -d -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    group bluetooth net_bt_admin misc
    disabled

service kbtld /system/bin/sh /system/etc/bluetooth/kill-btld.sh
	user root
	group system bluetooth
	disabled
	oneshot

service kbluetoothd /system/bin/sh /system/etc/bluetooth/kill-bluetoothd.sh
	user root
	group system bluetooth
	disabled
	oneshot

service testbt /system/bin/sh /system/etc/bttestmode.sh
    user root
    group root
    disabled
    oneshot
